




body {
    background-color: lightcoral;
  }

  .container{
    display: inline-flexbox;
    background-color: lightgray;
    width: 500px;
    margin: 0 auto;
   
  }

.search-bar {
display: flexbox;
padding-top: 20%;
}

.product-display{


}

.product-name{
  font-size: larger;
  font-weight: bold;
}
